<template>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><router-link class="nav-link px-2 text-secondary" to="/">Home</router-link></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><router-link class="nav-link px-2 text-white" to="/about">About</router-link></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" @click="toLoginPage">
            {{isLoginLabel}}
          </button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
    data() {
        return {
            isLogin: false
        }
    },
    methods: {
        toLoginPage() {
            if (this.isLogin) {
                sessionStorage.removeItem('jwt_token')
            }

            this.$router.push('/login')
            
        }
    },
    mounted() {
        const _this = this
        // _this.isLogin = true
        this.$bus.on("setLogin", (isLogin) => (
            _this.isLogin = isLogin
        ))
    },
    updated() {
        console.log('updated')
    },
    computed: {
        isLoginLabel() {
            return this.isLogin ? 'Logout' : 'Login'
        }
    }
}
</script>