<template>
  <div class="about">
    <h1>This is an about page</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>description</th>
          <th>status</th>
          <th>system</th>
          <th>execute time</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in batchData" :key="item.taskId">
          <td>{{ item.taskId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.system }}</td>
          <td>{{ item.scheduledTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  data() {
    return {
      batchData: [],
    };
  },
  created() {
    let _this = this;
    this.$axios.get("/api/batch").then((resp) => {
      if (resp.data) {
        resp.data.forEach((element) => {
          _this.$data.batchData.push(element);
        });
      }
    });
  },
};
</script>
