<template>
  <div>
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">Login</h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        id="account"
                        type="text"
                        placeholder="Account"
                        v-model="loginForm.account"
                      />
                      <label for="account">Account</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input
                        class="form-control"
                        id="inputPassword"
                        type="password"
                        placeholder="Password"
                        v-model="loginForm.password"
                      />
                      <label for="inputPassword">Password</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                      <a class="small" href="password.html">Forgot Password?</a>
                      <a class="btn btn-primary" href="index.html" @click.prevent="doLogin">Login</a>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <a href="register.html">Need an account? Sign up!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!-- <div class="login">
    <form class="form-group align-self-center">
      <h1>登入畫面</h1>
      <div class="input-group mb-3">
        <span class="input-group-text">
          <font-awesome-icon :icon="['fas', 'user']" />
        </span>
        <input
          type="text"
          class="form-control"
          v-model="loginForm.account"
          placeholder="請輸入帳號"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">
          <font-awesome-icon :icon="['fas', 'key']" />
        </span>
        <input
          class="form-control"
          type="password"
          v-model="loginForm.password"
          placeholder="請輸入密碼"
        />
      </div>
      <div class="d-grid gap-2 col-3 mx-auto mb-3">
        <button type="button" class="btn btn-primary" @click="doLogin">
          登入
        </button>
      </div>
    </form>
  </div> -->
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      loginForm: {
        account: "",
        password: "",
      },
    };
  },
  created() {
    if (sessionStorage.getItem("jwt_token")) {
      this.$router.push("/");
    }
  },
  mounted() {
    this.$bus.emit("setLogin", false);
  },
  methods: {
    doLogin() {
      const _this = this;
      this.$axios.post("/user/token", this.$data.loginForm).then((resp) => {
        sessionStorage.setItem("jwt_token", resp.data);
        _this.$bus.emit("setLogin", true);
        _this.$router.push("/");
      });
    },
  },
};
</script>